<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfrien1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFrien1">
        <activity
            android:name=".ManagerSignUp"
            android:exported="false" />
        <activity
            android:name=".ManagerInsert"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ManagerHome"
            android:exported="false" />
        <activity
            android:name=".SideBar"
            android:exported="false"
            android:label="@string/title_activity_side_bar"
            android:theme="@style/Theme.MyFrien1.NoActionBar" />
        <activity
            android:name=".register"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/edit_button" />

        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>